<!DOCTYPE html>
<html>
  <head>
    <title>GHG Estimation</title>
    <style>
      /* Adjust the map container size */
      #map {
        height: 400px;
        width: 100%;
      }
    </style>
    <!-- Include the Google Maps JavaScript API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=[APIKEY_WITHOUT_BRACKETS]&libraries=places"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>
    
    var clickedLat = ""
    var clickedLng = ""

    function initMap(){
        var map = new google.maps.Map(
            document.getElementById('map'),{
                center:{lat:37.7749,lng: -122.4194},
                zoom:12,

            }
        )
    
    
    google.maps.event.addListener(map,'click',function(event){
        var clickedLat = event.latLng.lat();
        var clickedLng = event.latLng.lng();
        var takelat = document.getElementById('latitude');
        takelat.value = clickedLat
        var takelng = document.getElementById('longitude');
        takelng.value = clickedLng

        alert('clicked coordinates:' + clickedLat + ',' + clickedLng)

    })
    }

    // var inputs = [clickedLat,clickedLng]
    // localStorage.setItem('inputs',JSON.stringify(inputs));
    
    // function storeInputs(){
    //   var Latitude = document.getElementById("latitude").value;
    //   var Longitude = document.getElementById("longitude").value;
       
    //   localStorage.setItem("latitude",clickedLat);
    //   localStorage.setItem("longitude", clickedLng)
      
    // }
    </script>
  </head>
  <body>
   
    <div class="login">
      <button onclick="initMap()">
        getlat 
      </button>
      
      <h1>GHG Estimation</h1>
  
      <form action="/predictdata" method="post">
        <table>
        <h1>
          <legend>Let's Predict the GHG Emissions</legend>
        </h1>
        <div id="map"></div>
        <div class="mb-3">
          <label class="form-label">Latitude</label>
          <input class="form-control"  id="latitude" name="latitude" placeholder="Latitude"  />
        </div>
        <div class="mb-3">
          <label class="form-label">Longitude</label>
          <input class="form-control"  id="longitude" name="longitude" placeholder="Longitude"  />
        </div>
        <div class="mb-3">
            <label class="form-label">Corn Area</label>
            <input class="form-control" type="number" name="cropa_area" placeholder="Enter CROPA area" step="any" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Barley Area</label>
            <input class="form-control" type="number" name="cropb_area" placeholder="Enter CROPB area" step="any" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Rice Area</label>
            <input class="form-control" type="number" name="cropc_area" placeholder="Enter CROPC area" step="any" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Sugar Area</label>
            <input class="form-control" type="number" name="cropd_area" placeholder="Enter CROPD area" step="any" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Wheat Area</label>
            <input class="form-control" type="number" name="crope_area" placeholder="Enter CROPE area" step="any" required />
        </div>
        <div class="mb-3">
          <input class="btn btn-primary" type="submit" value="Predict Emissions" required />
        </div>
        </table>
      </form>
      <h2>
        The predicted emissions: {{results}} MMT CO2eq
      </h2>
    </div>
    <script>
      // Initialize the map when the page has loaded
      google.maps.event.addDomListener(window, "load", initMap);
</script>

<script>
  function storeInputs(){
    var Latitude = document.getElementById("latitude").value;
    var Longitude = document.getElementById("longitude").value;
    
    localStorage.setItem("latitude",clickedLat);
    localStorage.setItem("longitude", clickedLng);

</script>

  </body>
</html>